%clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}


%images {
  margin-bottom: 30px;
  display: block;
}

%pri-style {
  font-family: $font-stack-primary;
  color: $color-primary;
}

%sec-style {
  font-family: $font-stack-primary;
  color: $color-secondary;
}
