@mixin img-style(
  $w: null,
  $pad: null,
  $disp: block,
  $btm-margin: null,
  $brdr: null
) {
  @include center($w: $w, $pad: $pad, $disp: $disp) {
    margin-bottom: $btm-margin;
    border: $brdr;
  }
}

@mixin txt-style(
  $color: null,
  $font: null,
  $size: null,
  $weight: null,
  $txt-align: null
) {
  color: $color;
  font-family: $font;
  font-size: $size;
  font-weight: $weight;
  text-align: $txt-align;
  @content;
}

@mixin btn-style(
  $txt-color: $white,
  $bg-color: null,
  $txt-tr: $txt-tr-none,
  $top-margin: 10px
) {
  padding: 10px 20px;
  border-radius: $btn-brdr-radius;
  background-color: $bg-color;
  color: $txt-color;
  text-transform: $txt-tr;
  font-family: $font-stack-primary;
  margin-top: $top-margin;
}

@mixin roundy($dim, $brdr: null) {
  width: $dim;
  height: $dim;
  border: $brdr;
  border-radius: 50%;
  display: block;
  @content;
}

@mixin center($w: null, $pad: null, $disp: null, $h: null) {
  width: $w;
  height: $h;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  display: $disp;
  padding: $pad;
  @content;
}


@mixin flexy(
  $disp: flex,
  $dir: null,
  $wrap: null,
  $just: null,
  $flx-basis: null,
  $al: null
) {
  display: $disp;
  flex-direction: $dir;
  flex-wrap: $wrap;
  justify-content: $just;
  flex-basis: $flx-basis;
  align-items: $al;
}

@mixin mq($break) {
  $value: map-get($breakpoints, $break);
  $sm: map-get($breakpoints, "sm");

  @include error-handler(
    $condition: (
      $value == null
    ),
    $statement: "'#{$break}' is not a valid breakpoint name."
  );

  @if $value < $sm {
    @media (max-width: $value) {
      @content;
    }
  } @else {
    @media (min-width: $value) {
      @content;
    }
  }
}

@mixin error-handler($condition, $statement) {
  @if $condition {
    @error $statement;
  }
}
