
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Fira+Sans+Extra+Condensed');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
$font-stack-primary: 'Fira Sans', sans-serif;
$font-stack-secondary: 'Fira Sans Extra Condensed', sans-serif;
$font-stack-ternary: 'Open Sans Condensed', sans-serif;
$txt-tr-upper: uppercase;
$txt-tr-none: none;

$white: #fff;
$color-primary: #7477bf;
$color-secondary: #4d4c72;
$color-ternary: #81c98f;

$max-width: 1000px;
$btn-brdr-radius: 5px;

$breakpoints: (
  'sm': 545px,
  "med": 768px,
  "lg": 1024px,
  "xlg": 1200px
);

