.bell-icon {
  width: 27px;
  height: 27px;
  margin: auto;
  position: relative;
  -webkit-animation-name: hvr-buzz-out;
  animation-name: hvr-buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 2;
  animation-iteration-count: 2;
}



.bell-icon:hover {
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.notif-alert {
  @include roundy(10%);
  position: absolute;
  top: 17px;
  right: 285px;
  height: 12px;
  width: 12px;
  background-color: #81c98f; 
}


.close-notif-section p {
  font-size: 20px;
  font-family: $font-stack-primary;
  font-size: 11px;
  color: #fff;
  margin: auto;
  padding: 7px 0;
  text-align: center;
  height: 30px;
  background-color: rgba(115, 119, 191, 1);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}


.close-notif-section p:hover{
  cursor: pointer;
  background-color: rgba(115, 119, 191, .9);
}


.notif-alert-symbol {
  @include roundy(8%);
  height: 8px;
  width: 8px;
  background-color: #81c98f; 
} 

.notif-alert-symbol,
.notif-close {
  margin: auto;
}

.notif-close:hover {
  cursor: pointer;
}



.notifications {
  position: absolute;
  top: 75px;
  right: 260px;
  height: auto;
  width: 230px;
  background-color: #FFF;
  opacity: 1;
  display: none;
  z-index: 999;
  border: 1px solid rgba(0, 0, 0, .3);
  border-radius: 8px;
  animation: slide-down .5s ease-out;
  -webkit-animation: notifications-slide-down .5s ease-out;
  -moz-animation: notfications-slide-down .5s ease-out;
  box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 1);
}

.twitter-svg,
.facebook-svg,
.google-svg {
  fill: #fff;
}

.twitter-bg,
.facebook-bg,
.google-bg {
  @include roundy(70%);
  background-Color: $color-primary;
  margin: 20px 20px 20px 30px;
  height: 80px;
  width: 80px;
  padding: 20px;
}

.facebook-bg {
  padding: 10px;
}

.notif-section {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  padding: 10px 0;
  border-bottom: .5px solid rgba(0, 0, 0, .3);
}


.notif-section p {
  font-family: $font-stack-primary;
  font-size: 11px;
  color: #676666;
}
