.main {
  grid-column-start: 1;
  grid-column-end: 3;
  max-width: 1100px;
  width: 100%;
  margin: 20px auto;
  @include mq("sm") {
    width: 1000%;
  }
  @include mq("med") {
    padding: 10px 50px;
    height: 400px;
    width: 100%;
  }
}

.traffic-chart {
  height: 200px;
  margin-bottom: 150px;
  @include mq("sm") {
    height: 250px;
    margin-top: 10px;
  }
  @include mq("med") {
    margin-top: 10px;
  }
}
.other-charts {
  @include mq("med") {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
}
.daily-traffic-chart,
.mobile-user-chart {
  margin-top: 0;
  margin-bottom: 0px;
  width: 90%;
  @include mq("med") {
    display: inline-block;
  }
}

.daily-traffic-chart {
  height: 300px;
  @include mq("med") {
    height: 300px;
    width: 50%;
  }
}

.mobile-user-chart {
  height: 400px;
  @include mq("sm") {
    height: 500px;
  }
  @include mq("med") {
    height: 300px;
    width: 40%;
  }
}

#bar-chart,
#doughnut-chart {
  padding-bottom: 80px;
  padding-right: 20px;
  padding-left: 20px;
  @include mq("med") {
    padding-right: 45px;
    padding-left: 45px;
  }
  @include mq("med") {
    padding-right: 45px;
    padding-left: 45px;
  }
}

#bar-chart {
  padding-right: 50px;
}
#doughnut-chart {
  margin-left: 10px;
}

.daily-traffic-chart {
  @include mq("med") {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.mobile-user-chart {
  @include mq("sm") {
    padding: 30px 60px;
  }
  @include mq("med") {
    padding: 0;
  }
}

.traffic-chart-title,
.daily-chart-title,
.user-chart-title,
.social-stats-title,
.activity-title,
.members-title {
  font-family: $font-stack-secondary;
  font-size: 18px;
  color: #676666;
}

.traffic-chart-title {
  @include mq("med") {
    margin-top: 100px;
    margin-left: 0;
  }
  @include mq("med") {
    margin-top: 0;
    margin-left: 0;
  }
}

.user-chart-title {
  @include mq("med") {
    margin-left: 50px;
  }
}

.traffic-chart-menu {
  margin-left: 50px;
  @include mq("med") {
    float: right;
    margin-left: 0;
  }
}

.traffic-chart-menu p {
  font-family: $font-stack-primary;
  font-size: 13px;
  color: #676666;
  display: inline-block;
  padding: 5px 2px;
  border-radius: 20px;
  transition: background-color 0.3s ease-in-out;
  @include mq("sm") {
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold;
  }
  @include mq("sm") {
    padding: 10px 25px;
  }
}

.traffic-chart-menu p:hover {
  cursor: pointer;
}

.traffic-chart-menu p:nth-child(3),
#item-selected {
  color: $color-ternary;
  @include mq("sm") {
    color: $white;
    background-color: $color-ternary;
    box-shadow: 0 6px 6px -6px black;
  }
}

#item-deselected {
  color: #676666;
  background-color: $white;
  box-shadow: none;
}
