.main {
    padding:10px 50px;
    grid-column-start: 1;
    grid-column-end: 3;
    height: 1000px;
    max-width: 1100px;
    margin: 0 auto;
}

.traffic-chart {
    height: 300px;
}

.traffic-chart-title,
.daily-chart-title ,
.user-chart-title,
.social-stats-title,
.activity-title,
.members-title {
    font-family: $font-stack-secondary;
    font-size: 18px;
    color: #676666;
}

.daily-chart-title {
    margin-left: 10px;
}

.user-chart-title {
    margin-left: 40px;
}

.traffic-chart-menu {
    float: right;
    margin-bottom:  30px;
}


.traffic-chart-menu  p {
    font-family: $font-stack-primary;
    font-size: 15px;
    font-weight: bold;
    color: #676666;
    display: inline;
    padding: 10px 25px;
    border-radius: 20px;
    transition: background-color .3s ease-in-out;
}

.traffic-chart-menu p:hover {
    cursor: pointer;
}

.traffic-chart-menu  p:nth-child(3),
#item-selected {
    color: $white;
    background-color: $color-ternary;
    box-shadow: 0 6px 6px -6px black;
}

#item-deselected {
    color: #676666;
    background-color: $white;
    box-shadow: none;
}


.section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 120px auto;
    grid-column-start: 1;
    grid-column-end: 3;
}

.sub-section1,
.sub-section2 {
    height: 500px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 50px 30px;
}

.sub-section3,
.sub-section4 {
    height: 500px;
    margin-bottom: -100px;
}

.sub-section2,
.sub-section4 {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
}

#bar-chart {
    padding: 20px 10px 60px 10px;
}

#doughnut-chart {
    height: 90px;
    padding: 20px 40px 60px 40px;
}