.header {
  display: grid;
  grid-template-columns: auto 280px;
  height: 50px;
  background-color: $color-primary;
  @include mq('sm') {
    grid-template-columns: auto 310px;
  }
  @include mq('med') {
    height: 70px;
  }
}

.header-title {
  @include txt-style(
    $size: 18px,
    $color: $white,
    $font: $font-stack-secondary
  ) {
    vertical-align: middle;
    padding-left: 15px;
    margin-right: 10px;
    @include mq('sm') {
      @include txt-style($size: 20px);
    }
    @include mq('med') {
      @include txt-style($size: 25px);
    }
  }
}

.user-detail {
  display: grid;
  grid-template-columns: .1fr .1fr .1fr 1fr;
  @include mq('lg') {
    grid-template-columns: 1fr .1fr 1fr 4fr;
  }
}

.app-name,
.user-name,
.td {
  @include txt-style($weight: 100);
}

.app-name,
.user-name {
  @include txt-style($font: $font-stack-secondary);
}

.td {
  @include txt-style($font: $font-stack-ternary);
  @include txt-style($font: 10);
  @include mq('sm') {
    @include txt-style($font: 14);
  }
}

.vertical-line {
  width: 0px;

  background-color: rgba($color: $color-secondary, $alpha: 0.4);
  @include mq("sm") {
    height: 25px;
    margin: auto 25px;
    width: 1px;
    margin-top: 12px;
   }
  @include mq('med') {
    margin-top: 10px;
    width: 1px;
    height: 45px
  }
}

.user-name {
  @include txt-style($size: 16px, $color: $white) {
    vertical-align: middle;
  }
  @include mq('med') {
    @include txt-style($size: 18px, $color: $white) {
      margin: auto 10px;
    }
  }
}

.bell-icon {
  width: 20px;
  height: 20px;
  margin-top: 15px;
  margin-left: 15px;
  position: relative;
  -webkit-animation-name: hvr-buzz-out;
  animation-name: hvr-buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 2;
  animation-iteration-count: 2;
  @include mq('med') {
    margin-top: 20px;
    width: 27px;
    height: 27px;
  }
}

.bell-icon:hover {
  cursor: pointer;
  height: 22px;
  width: 22px;
  @include mq('med') {
    width: 30px;
    height: 30px;
  }
}

.notifications {
  position: absolute;
  top: 55px;
  right: 75px;
  height: auto;
  width: 230px;
  background-color: #fff;
  opacity: 1;
  display: none;
  z-index: 999;
  border-radius: 8px;
  animation: slide-down 0.5s ease-out;
  -webkit-animation: notifications-slide-down 0.5s ease-out;
  -moz-animation: notfications-slide-down 0.5s ease-out;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 1);
  @include mq('med') {
    right: 260px;
    top: 75px;
  }
}

.notif-section {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.notif-section p {
  @include txt-style($font: $font-stack-primary, $size: 11px, $color: #676666);
}

.notif-alert {
  @include roundy(10%) {
    position: absolute;
    top: 12px;
    right: 287px;
    height: 10px;
    width:10px;
    display: none;
    background-color: #81c98f;
    
    @include mq("sm") {
      display: block;
    }
    @include mq('med') {
      
      right: 285px;
      top: 17px;
      height: 12px;
      width: 12px;
    }
  }
}

.close-notif-section p {
  @include txt-style(
    $size: 11px,
    $color: $white,
    $font: $font-stack-primary,
    $txt-align: center
  ) {
    margin: auto;
    padding: 7px 0;
    height: 30px;
    background-color: rgba(115, 119, 191, 1);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}

.close-notif-section p:hover {
  cursor: pointer;
  background-color: rgba(115, 119, 191, 0.9);
}

.notif-alert-symbol {
  @include roundy(8%) {
    height: 8px;
    width: 8px;
    background-color: #81c98f;
  }
}

.notif-alert-symbol,
.notif-close {
  margin: auto;
}

.notif-close:hover {
  cursor: pointer;
}

