.header {
    display: grid;
    height: 70px;
    grid-template-columns: auto 310px;
    background-color: $color-primary;
}

.header-title {
    font-family: $font-stack-secondary;
    color: $white;
    font-size: 25px;
   margin-left: 20px;
   
}


.app-name,
.td,
.user-name {
font-family:  $font-stack-secondary;
font-weight: 100;
}

.vertical-line {
    margin: auto;
    background-color:rgba($color: $color-secondary, $alpha: .4);
    width: 1px;
    height: 45px;
}

.user-name {
    font-size: 18px;
    color: $white;
    margin: auto 5px;
}

.user {
    display: grid;
    grid-template-columns: 1fr 15px 1fr 3fr;
    margin: auto 0;
}

