.wrapper {
  display: grid;
  grid-template-columns: 75px auto;
  grid-gap: 20px;
}

.menu {
  background-color: $color-secondary;
}

.content {
  display: grid;
  grid-template-columns: 150px auto;
  grid-template-rows: 100px 80px;
  height: 100vh;
}

.dashboard-section-title {
  @include txt-style(
    $size: 25px,
    $color: #676666,
    $font: $font-stack-secondary
  );
}

.search-div {
  background-color: #fbfbfb;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  height: 70px;
}

.dashboard-searchInput {
  @include txt-style(
    $size: 18px,
    $color: #676666,
    $font: $font-stack-secondary
  ) {
    float: right;
    margin-top: 12px;
    margin-right: 30px;
    padding: 0 10px 0 15px;
    width: 300px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    background-image: url("https://png.icons8.com/search");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 23px 23px;
    background-origin: content-box;
    opacity: 0.6;
    outline: 0;
    transition: color 1s ease-in-out;
  }
}

.dashboard-searchInput:focus {
  opacity: 1;
  border: none;
  background-image: none;
  animation: fade-input-border 1s;
  border-bottom: 0.5px solid #676666;
  background-color: #f0f0f0;
  box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.5);
}

.alert {
  @include txt-style(
    $size: 16px,
    $color: $white,
    $font: $font-stack-secondary
  ) {
    padding: 20px;
    background-color: $color-primary;
    height: 60px;
    border-radius: 5px;
    margin: 15px 20px;
    grid-column-start: 1;
    grid-column-end: 3;
    box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 1);
    animation: slide-down 2s ease-out;
    -webkit-animation: slide-down 2s ease-out;
    -moz-animation: slide-down 2s ease-out;
  }
}

.closebtn {
  @include txt-style(
    $size: 28px,
    $color: $white,
    $font: $font-stack-secondary,
    $weight: bold
  );
  margin-left: 15px;
  float: right;
  line-height: 20px;
  cursor: pointer;
}

.closebtn:hover {
  @include txt-style($color: #000);
}
