.members-activity-container {
    @include mq("sm") {
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      }
}

.mb,
.ac {
  padding-bottom: 30px;
    @include mq("sm") {
        width: 100%;
      }
      @include mq("med") {
        display: inline-block;
        width: 40%;
      }

}

.ac {
      @include mq("med") {
        margin-left: 40px;
      }

      @include mq("xlg") {
        
        border-left: 1px solid rgba(0, 0, 0, 0.2);
        padding-left: 40px;
      }
   
}

.user-section {
  margin: 0px auto;
  grid-column-start: 1;
  grid-column-end: 3;
  @include mq("med") {
    margin-top: 100px;
  }
}


.members-section-title {
    font-family: $font-stack-secondary;
    font-size: 18px;
    color: #676666;
    margin-bottom: 50px;

}

.members,
.activity {
  height: 170px;
  align-content: center; 
  width: 100%;
  margin-bottom: 20px;
  @include mq("xlg") {
    height: 90px;
  }
  @include mq("sm") {
    height: 150px;
  }
  @include mq("med") {
    height: 130px;
  }
  @include mq("lg") {
    
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 120px;
  }
}

.activity {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.member-img {
  @include roundy(20%);
  margin: 30px auto 0 auto;
  height: 70px;
  width: 70px;
  @include mq("med") {
    margin: -15px auto;
    height: 55px;
    width: 55px;
  }
  @include mq("lg") {
    height: 55px;
    width: 55px;
  }
}

.member-details,
.date {
  text-align: center;
  @include mq("xlg") {
    text-align: left;
  }
}

.member-img,
.member-details,
.date {
  @include mq("xlg") {
    display: inline-block;
  }
}
.date {
  @include mq("xlg") {
    float: right;
    padding-top: 50px;
  }
}

.member-details {
  @include mq("med") {
    margin-top: 20px;
    margin-left: 10px;
  }
}

.name,
.email,
.date {
  font-family: $font-stack-primary;
  font-size: 13px;
}

.email,
.date {
  margin-top: -10px;
  @include mq("med") {
    max-width:400px;
    word-wrap:break-word
  }
;
}

.name {
  margin-top: 10px;
  @include mq("med") {
    margin-top: 0px;
  }
}


.email {
  color: rgba(115, 119, 191, 0.8);
}

.name,
.date {
  color: #676666;
}
