.user-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 120px auto;
    grid-column-start: 1;
    grid-column-end: 3;
}

.members,
.activity {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: 100px;
    width: auto;
    background-color: #fbfbfb;
}

.activity {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.member-img {
    @include roundy(20%);
    margin: 10px 20px;
    height: 55px;
    width: 55px;
}

.member-details {
    padding: 20px 0 ;
    
}

.members {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    margin-bottom: 20px;
}

.name,
.email,
.date {
    font-family: $font-stack-primary;
    font-size: 14px;
}
.email {
    color: rgba(115, 119, 191, .8),
}

.name,
.email {
    margin-top: -10px;
}

.date {
    margin-top: 30px;
}

.name,
.date {
    color: #676666;
}
