.menu {
  @include mq("med") {
    height: 200%;
  }
}
.menu-item {
  padding: 15px;
  border-left: 3px solid $color-secondary;
  @include mq("med") {
    padding: 20px;
    transition: padding 0.5s ease-in-out;
  }
}

.menu-item:hover {
  cursor: pointer;
  @include mq("med") {
    padding: 17px;
  }
}

#menu-item-selected {
  border-left: 3px solid $color-ternary;
}

#menu-item-deselected {
  border-left: 3px solid $color-secondary;
  opacity: 0.6;
}

.right-border {
  background-color: $color-ternary;
  width: 5px;
}

.members-icon,
.visits-icon,
.settings-icon {
  opacity: 0.6;
}

.visits-icon {
  margin-top: 25px;
}
