.social-stats {
  margin: 0 auto;
  grid-column-start: 2;
  grid-column-end: 3;
}

.twitter-svg,
.facebook-svg,
.google-svg {
  fill: #fff;
}

.twitter-bg,
.facebook-bg,
.google-bg {
  @include roundy(70%);
  background-Color: $color-primary;
  margin: 20px;
  height: 60px;
  width: 60px;
}

.twitter-bg,
.google-bg {
  padding:12px;
}

.facebook-bg {
  padding: 0;
}

.twitter-bg,
.twitter-stat {
  display: inline-block;
}


.twitter,
.facebook,
.google {
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 100px;
  width: auto;
  border-radius: 5px;
  background-color: #fbfbfb;
  margin: 20px auto;
  padding-left: 10px;
  @include mq("sm") {
    padding-left: 30px;
  }
  @include mq("med") {
    padding-left: 0px;
  }
  @include mq("med") {
    display: inline-block;
    width: 30%;
    margin-left: 10px;
    height: 110px;
  }
}

.twitter-title,
.facebook-title,
.google-title {
  font-family: $font-stack-primary;
  color: $color-primary;
  font-size: 14px;
  font-weight: bold;
  margin: -75px 0 5px 100px; 
}

.twitter-stat,
.facebook-stat,
.google-stat {
  font-family: $font-stack-ternary;
  color: #676666;
  font-size: 20px;
  font-weight: 100;
  margin: 0 0 0 100px; 
  @include mq("sm") {
    font-size: 25px;
  }
  @include mq("med") {
    font-size: 30px;
  }
}

.stats {
  @include mq("sm") {
    padding-left: 20px;
  }
  @include mq("med") {
    padding-left: 0px;
  }
}
